[2017-04-11 18:47] rafecooks opened #1 "No Sample Basket on BCM community "Sample Comparison" view"
On QA server, BCM configuration

The Sample Comparison View hides the Sample Basket and fails to populate with data from the selected samples.  Example [URL](https://qa.genialis.com/bcm/visual_analysis?_b=bc21bf57-37af-432f-89cf-b7b101d43e30)
![bcm lacking basket](https://cloud.githubusercontent.com/assets/1234176/24925308/709313a6-1ebd-11e7-9a10-534d7f32772f.jpg)

Whereas on the Universe configur

[2017-04-11 19:02] rafecooks opened #2 "Avoid showing duplicate samples in Sample Basket"
QA server, Lexogen configuration [URL](https://qa.genialis.com/lexogen/visual_analysis?_b=c876bbb3-d8f6-4cf5-9a64-7453b94e4ad6)

I added 6 samples to the basket. Then added 4 others. Then did a search that produced the same 10, and I selected these 10 and added them to the basket.
![dups in the basket](https://cloud.githubusercontent.com/assets/1234176/24925872/4650855e-1ebf-11e7-86b6-94f33d546e1b

[2017-04-11 19:14] rafecooks opened #3 "Alphanumeric sorting of sample names on bar graphs"
QA server, Lexogen community, [URL](https://qa.genialis.com/lexogen/visual_analysis?_b=4376a211-96ea-458f-bc34-6acde1c3d24b)

We need to arrange the samples on the X-axis of the bar graph (Gene Expression view) in alphabetical order. In the future we might dream of supporting a forced order, or a ranked order, or something. But for now, at the very least, the sample names need to be sorted.

In th

[2017-04-12 07:25] kostko commented on #2
Hm, but samples are grouped under "breadcrumbs". What you are saying would make sense if there was no grouping and the basket would be a flat list. But since there are breadcrumbs I don't think this is so clear-cut.

[2017-04-12 10:52] rafecooks commented on #2
Let's do this. Archive, delete, or pause the bug report. Let's get more user feed back (I have begun producing recorded videos of users on the app) and see if this is helpful or hurtful.

Another solution (that is buried on the backlog) that might be helpful is to create a visual indication in the Search Results table when a sample has already been added to the Sample Basket.

[2017-04-12 11:55] mstajdohar commented on #1
@jkokosar, please review.

[2017-04-12 11:56] mstajdohar commented on #1
Could @JenkoB help?

[2017-04-12 14:33] JenkoB commented on #1
Fixed.

[2017-04-12 14:37] mstajdohar commented on #1
@rafecooks please test then close the issue if it works.

[2017-04-12 15:19] rafecooks commented on #1
Fixed.

[2017-04-12 15:19] #1 closed

[2017-04-12 15:53] rafecooks opened #4 "Search has limited ability to find partial strings"
QA server, BCM community

Priority 1: the desired behavior is to identify Samples by searching over any substring within the Sample name.
Priority 2: the search should also consider any field (e.g. column) that is visible from the interface— thus all columns should be searchable.

A few examples of failure:

Search for "FDA"
Expect: 9 results based in the substring "FDA" present at various places

[2017-04-13 06:58] kostko commented on #4
Can you be more specific about "any substring"? In your examples, does this mean that you would like to be able to search for "FDA" in "REV_FDA_A2" or also to search for "FD" in "REV_FDA_A2" or even "DA" in "REV_FDA_A2"?

[2017-04-13 10:25] rafecooks commented on #4
My instinct is to make this as generic as possible. Biologists are famously obnoxious about naming samples. A typical sample name has a lot of technical short-hand embedded in the string. So we would want to allow them to search for any substring such that they could pick out even 2-character terms. More conceptually, I am hesitant to impose search rules (e.g. search must be > 3 characters; or sea

[2017-04-13 10:36] kostko commented on #4
The three cases I mentioned require completely different implementations:
* The first case simply requires tokenzing on all non-word characters (e.g. to include `_`).
* The second case in addition requires building a special n-gram prefix index. This increases the size of the index by a lot, since all the prefixes need to be generated and indexed for each token (e.g. a token consisting of _n_ char

[2017-04-13 10:42] rafecooks commented on #4
Ok, I see. Well absolutely tokenize all non-words. I am concerned about cases like searching for "test" when the names include "test1" or "test6" (see earlier example). But we can also be lean about this and fix the easy, obvious bit and wait to see how many users have problems with the partial text issues...

[2017-04-13 10:45] rafecooks commented on #4
So if the text is "00hr" the tokens would be ["00", "hr"]?

I think this will solve most cases.

[2017-04-13 12:20] kostko commented on #4
Pushed PRs (genialis-base and resolwe) with proposed improvements.

[2017-04-13 12:30] mstajdohar commented on #4
Does this change only affect the name field? So that the values in the other fields like description and descriptors do not get tokenized.

[2017-04-13 16:55] kostko commented on #4
We use this tokenizer for the following fields: `slug`, `name`, `descriptor_data` (this is data derived from sample and data descriptors).

[2017-04-13 16:59] mstajdohar commented on #4
This is great.

[2017-04-13 17:01] kostko commented on #4
But `description` uses the default tokenizer, which is more suitable for standard text. Is this ok or should we change that as well?

[2017-04-13 17:09] mstajdohar commented on #4
Let's keep the default tokenizer and test the fix first.

[2017-04-13 17:51] dblenkus opened #5 "Back button in Data-object-detail view should take you only one step back"
Steps to reproduce:
- go to the detail Data object view ([click](https://qa.genialis.com/universe/bioinformatics/collection/quant-seq-demo/data/slug/alignment-19))
- click `view` next to input object to go to the input object
- click `back`

![bug_report](https://cloud.githubusercontent.com/assets/5970282/25016436/9795c49c-2045-11e7-995b-dbc02038299d.jpg)

[2017-04-13 18:50] dblenkus opened #6 "Input object in sample view can not be clicked"
Steps to reproduce:

- go to sample view ([click](https://en.wikipedia.org/wiki/List_of_pasta))
- find object with input object (i.e. `BBDuk (single-end)` -> `Reads`)
- click `view` next to input object

![screen shot 2017-04-13 at 13 48 43](https://cloud.githubusercontent.com/assets/5970282/25019408/11930c96-2050-11e7-9a56-e0bcd8c90fe3.png)

![screen shot 2017-04-13 at 13 50 07](https://cloud.git

[2017-04-15 20:05] dblenkus opened #7 "Old version of UI is used after deployment of the server"
Looks like `index.html` is cached to heavily and the only option to get the new version of the UI is to hard refresh the page.

Caching should be completely disabled for `index.html` (and probably `apps.config`) in nginx configuration.

[2017-04-18 17:49] rafecooks opened #8 "URL does not retain complete state of analysis"
server: QA
community: BCM
user: ADMIN

Numerous attempts to capture analysis state (for purpose of reporting various bugs) but when I navigate back to the URL, only the sample selection is remembered. Otherwise I start over at the beginning of the visual analytics page.

For example:
https://qa.genialis.com/bcm/visual_analysis?_b=a3f60ca9-31fa-45a3-9f95-ac924567c471

Should return here:
![screen s

[2017-04-18 17:56] rafecooks opened #9 "Differential Expressions Selection module remembers old samples and selections"
QA, BCM

When I do some stuff on the DE View, and then go back to search, clear the samples, add different samples, and then return to DE View, the Selector table still remembers my last selections, which cocks up the visualizations. Hack fix: if I refresh page, the old selections go away.

![screen shot 2017-04-18 at 12 29 40 pm](https://cloud.githubusercontent.com/assets/1234176/25145276/5ec28fc

[2017-04-18 18:04] rafecooks opened #10 "Search results do not sort on sample name"
server: QA
community: BCM
user: ADMIN

Attempting to sort the Sample Name column. Regardless of the arrow pointing up or down, nothing changes.

On first click I got an "Oops Server Error" message in the upper right.

![screen shot 2017-04-18 at 1 04 16 pm](https://cloud.githubusercontent.com/assets/1234176/25145795/93237468-2437-11e7-9598-483ab6e44dbc.jpg)
![screen shot 2017-04-18 at 1 02 57 pm](

[2017-04-18 18:28] rafecooks opened #11 "Inconsistent user management behavior"
Server: app.genialis.com
Community: rna-seq
User: rna-seq-demo
Tester: @nejko

User can log in even if the account has not been activated. After login, there is inconsistent behavior (cannot run particular processes).

Reproduce by:
- creating a new regular user account and attempting to login without actually confirming account via email
- check ability to run an analysis.

[2017-04-18 18:44] kostko commented on #11
Hm, I can't reproduce this. I've created an account "kostko" and I can't login using it.

[2017-04-18 18:49] kostko commented on #11
The account you mentioned (`rna-seq-demo`) seems to be active and was created 14 days ago. Perhaps someone activated it? Are there multiple recipients for the `demo@genialis.com` e-mail address?

You are correct that the account has not been assigned any permissions, but this might be because 14 days ago there were no default groups configured (not sure if this is the case, I can try to check the

[2017-04-18 19:11] kostko commented on #11
I've checked the audit logs and the group associations were created on:
[code]

It also looks like there is a possibility that this account (`rna-seq-demo`) was either created or activated manually (via the admin) and not via the standard registration procedure.

Someone should try to reproduce this with another clean account. Otherwise this bug report may be invalid.

[2017-04-18 19:22] kostko commented on #10
Inspected via the API directly and got this error:

This looks like the indices (more specifically, the `sample_search` index) weren't rebuilt correctly on QA after the last search-related update? cc @tjanez?

[2017-04-18 20:07] dblenkus commented on #10
I've rebuild the index manually and it works now.

Probably the problem is that index rebuild takes quite some time in ansible, so it is common that redeploy is made without rebuilding indexes.

PR for speed-up of ansible is already prepared (https://github.com/genialis/tower/pull/38), so it shouldn't be a problem in the future.

[2017-04-18 20:07] #10 closed

[2017-04-18 20:13] dblenkus commented on #11
I am almost sure that `rna-seq-demo` user was created via admin.

[2017-04-18 20:29] rafecooks commented on #11
Indeed, I attempted to recreate with user: bugsbunny pwd: bugsbunny

It seems whatever issue Nejc encountered was fixed in the course of things...

[2017-04-18 20:52] nejko commented on #11
Can we see how Rna-Seq-demo was created? I mean, even if it was created as an admin, I guess there should be no way the user can log in if the user is not marked as active? So this bug is still there? Can somebody try to reproduce this way?

[2017-04-18 21:24] rafecooks commented on #11
Nejc, can you very clearly articulate the step-by-step actions you took? Just today I created a new account and was denied sign-in access because I never activated the account. Kostko did too. So maybe we are misunderstanding the sequence of events that led you to report the bug.

[2017-04-19 01:01] dblenkus commented on #11
Why do you think that `rna-seq-demo` is not active? It is marker as active in Django admin.

[2017-04-19 02:16] rafecooks opened #12 "Changing password causes permissions error"
server: app
community: rna-seq
user: bugsbunny

When I change passwords, I get a tool tip in the upper right saying "Password successfully changed", but the following error on screen:
![screen shot 2017-04-18 at 9 14 00 pm](https://cloud.githubusercontent.com/assets/1234176/25160534/2e3383c8-247c-11e7-8fb6-09512ee76884.jpg)

If I refresh the URL I am then logged off and land on the Sign-in page. W

[2017-04-19 02:48] rafecooks opened #13 "Box plots (and bar plot) do not respond well to genes missing from samples"
Server: QA
Community: rna-seq
User: admin

Genes that are absent from a sample (and possibly in the case a gene has  values = zero in any sample?) are excluded from boxplot. We selected 6 samples (REV_FDA_ [A|B][1-3]) and the following genes: HoxA9, HoxA11.

Note: no box plot
![screen shot 2017-04-18 at 9 37 48 pm](https://cloud.githubusercontent.com/assets/1234176/25161057/6f192444-247f-11e7-99b1

[2017-04-19 02:56] rafecooks opened #14 "Volcano plot -log10(FDR) default and limits"
Server: QA
Community: rna-seq
User: admin

On the Volcano plot, the FDR threshold default = 0.05, and thus the default -log10(FDR) threshold is 1.3. However, this shows up as -1.3.
![screen shot 2017-04-18 at 9 54 25 pm](https://cloud.githubusercontent.com/assets/1234176/25161466/bbb3fe8a-2481-11e7-9417-7b5c29133ce0.jpg)

As soon as I start tinkering manually with the thresholds, the negative sign

[2017-04-19 03:04] rafecooks commented on #14
By thew way, I do not consider this bug a high priority. No one should fuck with that many decimals

[2017-04-19 05:45] nejko commented on #11
OK, I'll write what I know.

When I asked for a working demo for VCs, Rafe gave me a link to a Google Drive folder with a document, which contained short instructions how to use the demo. The instructions included the username and password for Rna-Seq-demo.

After initial testing I discovered a series of issues that prevented me from exploring the data I tried to upload myself. Now I know that one

[2017-04-19 06:00] dblenkus commented on #11
I think that you've confused `rna-seq-demo` user with `vc-<something>` user.

`rna-seq-demo` was created by @JenkoB (and I helped to set it up) just day before @rafecooks had RNA-Seq demo. So there is no option that it wouldn't be activated or wouldn't work (there may be some bugs, but non specifically related to that user).

You are probably talking about `vc-<something>` user that you've created

[2017-04-19 06:03] kostko commented on #11
The thing is that if you manually edit users via the admin, you have to manually activate the account and you have to manually take care of permissions/groups. Automatic permission assignment is only for users activated via the registration procedure not for users that are manually created via the admin. AFAIK, this is the correct functionality.

[2017-04-19 06:04] dblenkus commented on #11
@nejc I think that you are talking about activated user that is not assigned to any group and thus has no permissions to do anything. This is not the most useful state (and can be achieved only through Django admin), but is still valid.

[2017-04-19 07:07] JenkoB commented on #11
I have created rna-seq-demo user the same way as lexogen-demo and the same way I am creating accounts for BCM users. This is through the admin page, where I also assign the group with process permissions and then manually I add data permissions through BD.

[2017-04-19 07:20] JenkoB commented on #11
For the first time I tried to create a new user with my gmail account on app.genialis.com through registering account and I can not login, so I have reset the password and I can not set a new one, because anything that I remember is considered as Bad password reset token, what requirements do we have for a good password? Can we write them in setting password page?

[2017-04-20 11:20] rafecooks opened #15 "RNA-seq demo community Recipe card needs modification"
Server: app
Community: rna-seq
User: rafael

The first card (Define Experiment) offers 3 workflows in the dropdown:
"Yes"
"No"
"Reverse"
![screen shot 2017-04-20 at 6 16 14 am](https://cloud.githubusercontent.com/assets/1234176/25228245/53e7ed78-2591-11e7-9993-a46b2853e011.jpg)

The choices should be:
"Non-stranded"
"Forward"
"Reverse"

[2017-04-20 12:12] mstajdohar commented on #15
What is "No"?

[2017-04-20 12:34] rafecooks commented on #15
The drop-down leads with a question: Did you use a stranded library?
![screen shot 2017-04-20 at 7 33 47 am](https://cloud.githubusercontent.com/assets/1234176/25231009/c4a28ac8-259b-11e7-9734-9a197544002d.jpg)

It might make sense to say "Non-stranded" rather than "No"

[2017-04-20 12:38] mstajdohar commented on #15
I prefer "Non-stranded".

[2017-04-20 12:40] rafecooks commented on #15
updated above

[2017-04-20 13:04] rafecooks opened #16 "Permissions dropdown needs to be rescaled to show all options"
Server: app
Community: rna-seq
user: rafael, admin

When setting permissions, the dropdown includes all the various levels of permission. However, it is scaled such that the "View" permission is not visible unless the user *knows* to scroll down.

We should scale this such that the user can see all permissions options without scrolling, or give a very visible indicator that there are more options

[2017-04-20 18:53] rafecooks opened #17 "Schema permissions for Recipes page on BCM deploy"
Server: BCM
Community: RNA-seq
User: demo

Logging into bcm.genialis.com/rna-seq/ (user = demo, pwd = demo1234), received this schema error:

![screen shot 2017-04-20 at 1 46 27 pm](https://cloud.githubusercontent.com/assets/1234176/25247547/ba5d5a22-25d0-11e7-99dc-c4a0c83ac3b0.jpg)

[2017-04-25 08:56] mstajdohar commented on #17
@JenkoB Is this fixed?

[2017-04-25 08:57] mstajdohar commented on #15
@JenkoB Please update the schema.

[2017-04-25 08:58] mstajdohar commented on #14
@lukaw3d Was this fixed?

[2017-04-25 09:00] mstajdohar commented on #13
@rafecooks Please describe the desired behavior. For example for

Write what should be displayed. Also specify how we should handle the "no gene" in DECT.

[2017-04-25 09:01] #11 closed

[2017-04-25 09:04] mstajdohar commented on #7
@tjanez Have you disabled the caching of `index.html` and `apps.config`?

[2017-04-25 09:05] mstajdohar commented on #6
Related to https://github.com/genialis/genialis-apps/issues/486. @hadalin Consider merging the two bug reports.

[2017-04-25 09:05] #4 closed

[2017-04-25 09:06] mstajdohar commented on #3
@lukaw3d Have you done this yet in your recent batch of fixes?

[2017-04-25 09:06] #2 closed

[2017-04-25 10:13] lukaw3d commented on #14
Yes. it was fixed

[2017-04-25 10:16] #14 closed

[2017-04-25 10:26] lukaw3d commented on #3
Yes

[2017-04-25 10:26] #3 closed

[2017-04-25 11:20] JenkoB commented on #17
Yes, I gave permissions for BCM and linlab group.

[2017-04-25 11:35] rafecooks commented on #13
For the box plot, we have several options:
- provide a warning message tooltip but no box;
- provide a warning message and a box that represents the distributions of those values present
- provide a warning message, and no box but a data label on x-axis and an empty space for the box

Notice the warning message is constant. I prefer the top option, which is likely the simplest to implement. "Warni

[2017-04-25 11:54] #17 closed

[2017-04-25 11:55] mstajdohar commented on #13
cc @andr47p

[2017-04-25 13:42] JenkoB commented on #15
PR: https://github.com/genialis/resolwe-bio/pull/265

[2017-04-26 11:16] #16 closed

[2017-04-26 12:06] mstajdohar commented on #16
I was talking to @rafecooks that we should not close bug reports automatically but rather assign the reported to review the solution on the QA server. Maybe we should add a label Review on QA.

[2017-04-26 12:28] hadalin commented on #16
Ok, the issue was automatically closed because of `Closes` here https://github.com/genialis/genialis-apps/pull/539

[2017-04-26 13:44] #5 closed

[2017-04-26 16:21] andr47p commented on #13
Whoa, I'm quite lost here, so instead of answering I'll just write what I think should happen in cases I can think of:

If graph is not displayed or is partially displayed:
* indicate it with a text printed where the graph should be or above the partial graph in a warning color. Eva defined these in "colors.pdf" (shared on the drive). Some (most contrasty to white background) color examples would

[2017-04-26 20:16] rafecooks commented on #13
@andr47p We can discuss this next week. Luka A can also offer guidance once everyone is back in the office.

[2017-04-27 14:46] rafecooks opened #18 "Cannot create collection from Sample Basket"
Server: BCM
Community: rna-seq
User: Demo

I reproduced a bug found by a tester (Mariko) last week. Steps:
1. add samples to Sample basket from search results (or from within Visual Analysis page)
2. click Add to Collection and create a new collection --> Popup says Collection was created
3. Navigate to Collection by clicking link in popup
4. Error message and no visible collection
![screen shot 2

[2017-04-27 14:49] rafecooks opened #19 "Cannot delete paired end read when its name is too long"
Server: app
Community: rna-seq
User: Rafael+3

Reproduce:
1. upload two fastq files with really long names
2. if the names exceed the column widths on the Confirm subpage of Recipes, cannot see the trash can icon to delete:

![paired end name too long](https://cloud.githubusercontent.com/assets/1234176/25489248/d919b15a-2b2e-11e7-84d8-3410a62cc862.jpg)

[2017-04-27 14:54] rafecooks commented on #19
Never mind. Solved by resizing window.

This suggests we need to make the column widths flexible so users can resize column widths on their own.

That can go into a UI polish spec rather than a bug report

[2017-04-27 14:54] #19 closed

[2017-05-03 09:39] hadalin commented on #6
The link points to https://en.wikipedia.org/wiki/List_of_pasta

[2017-05-03 12:35] hadalin commented on #6
Closing because duplicate of https://github.com/genialis/genialis-apps/issues/486

[2017-05-03 12:35] #6 closed

[2017-05-09 19:37] rafecooks opened #20 "Hide collections without permissions"
Server: BCM
Community: rna-seq
User: Demo

https://bcm.genialis.com/rna-seq/bioinformatics?_b=

Issue:
I am able to see tons of collections; very cluttered; most are not mine. When I click on one that was created by someone else, e.g. Rachel, I can enter the collection but I see no data.

Example:
Too much clutter—
![collections](https://cloud.githubusercontent.com/assets/1234176/25869166/f8050188

[2017-05-09 20:47] rafecooks opened #21 "Fix Cuffnorm data accessibility"
# Cuffnorm data accessibility
- Within the Bioinformatics Dashboard (BD)/ Collection Details for `p4936_ms2_rna`
- Charles selected Cuffnorm data object
- The issue is that most of the files Charles wants to access are buried in the Zipped folder (R_data.zip) in the outputs.
![screen shot 2017-05-09 at 3 35 10 pm](https://cloud.githubusercontent.com/assets/1234176/25872478/8711ee58-34d0-11e7-89f6-

[2017-05-09 21:16] rafecooks commented on #21
While we're tinkering with the R output, we should see if we can re-label the boxplot to samples, rather than the `X370_1` type IDs

[2017-05-09 21:41] rafecooks opened #22 "Terms of Service need to link to privacy policy"
Update **Terms of Use** to the following file contents: https://drive.google.com/open?id=0B0veuqdivM_DUXEyRFJuTThyTzA

Hyperlink to the Privacy Policy. https://drive.google.com/open?id=0B0veuqdivM_DR0ZLenRMbHFidVk

Please note, the Privacy Policy has a placeholder for a reciprocal link back to the Terms of Use.

Also, we must have the most recent update **DATE** visible at the top of both document

[2017-05-09 22:42] dblenkus commented on #20
`Demo` user is in `BCM` and `linlab` groups. First is used to grant permissions to users and second is used to share date in Charles's lab. This is probably why you see all of those collections.

I've removed your user from `linlab` group. Please test again and let me know if it works as you expect.

[2017-05-09 22:59] rafecooks commented on #20
I still see lots of Rachel's Collections. But this was actually a complaint originating with Charles. Even logged in as `linlabdemo`, he was frustrated that he could see all these collections, but when he clicked into them, he couldn't see any data.

Perhaps this is more of a UX issue— what should people in a group see, versus what can they access?

[2017-05-09 23:20] rafecooks commented on #20
Maybe rather than treat this as a bug and changing the permissions scheme, we think instead about creating a new feature: subsections such as:
- "My collections"
- "Group collections"
- "Public collections"

With collapsable panels like a Gmail inbox. I'll have Andraz create some mockups

[2017-05-10 02:06] rafecooks opened #23 "Create Venn Diagram does not show available data"
Server: QA
Community: bcm-rna-seq
User: Admin

I created two gene sets from genes selected from the Volcano plots: `Rafe test 33` and `Rafe 58 edgeR`, or something like that.

Then I went to Venn view and attempted to create a new venn diagram. I clicked the `+` button, but the popup says no data available. How does a user find gene sets created from the UI?

![screen shot 2017-05-09 at 9 02 28 pm

[2017-05-10 06:21] mstajdohar commented on #22
Update the notice on the registration page from "By creating an account I agree to the Terms and Conditions" to "By creating an account I agree to the Terms and Conditions and Privacy Policy".

Include links to Terms and Conditions and Privacy Policy in the top right user menu. This is not the best placeholder for this kinds of information, but it will do until we have a footer (cc @andr47p). At l

[2017-05-10 06:42] mstajdohar commented on #20
Consider using a Filter panes for switching between "My collections", "Group collections" and "Public collections", with "My collections" checked by default. The filter panel would fit good in the Collection Search as well, giving a consistent UX.

[2017-05-10 08:52] dblenkus commented on #21
I think that the problem is that only `X370` part is passed to the process and `_1` is auto-generated. So this means that labels have to be relation-specific and, as relations don't have names, only option is to use `id` or something similar.

@jkokosar can we pass specific label for each sample to the process?

[2017-05-10 14:40] tjanez commented on #7
I've fixed this today: https://github.com/genialis/tower/commit/f3a551c09fe122b79f3a72fe6b32f6c691e67244.

I've deployed this to the QA2 server and it appears to work.

- Before deployment of the fix:
[code]

- After deployment of the fix:
[code]

If you encounter any more issue, please re-open or file a new bug report.

[2017-05-10 14:40] #7 closed

[2017-05-15 12:46] mstajdohar commented on #15
@rafecooks Please test on QA and close if fixed.

[2017-05-15 20:15] rafecooks commented on #15
Well, it is sort-of fixed but not really. Currently looks like:
![screen shot 2017-05-15 at 3 13 54 pm](https://cloud.githubusercontent.com/assets/1234176/26077305/39e210bc-3981-11e7-9df0-26cd783c7833.jpg)

As above, the choices should be:

- Non-stranded
- Forward
- Reverese

[2017-05-15 20:15] rafecooks commented on #15
@mstajdohar please assign to someone who can fix the words as specified 25 days ago.

[2017-05-15 20:22] mstajdohar commented on #15
@jkokosar suggested this values to Barbara. Please discuss with him. For more follow the link and click View Changes on Janez's comment:

https://github.com/genialis/resolwe-bio/pull/265

[2017-05-15 20:26] rafecooks commented on #15
If @jkokosar believes that "Stranded" and "Reverse" are the precise terms for this list, in contrast to "Non-stranded", I will take his word for it. But as an idiot biologist, this is confusing to me.

Janez can either revert to my suggestion or decide to close the issue as-is if he believes the current usage is correct.

[2017-05-15 20:29] mstajdohar commented on #15
I don't think Janez was included in this thread, and he was not aware the suggestions in the discussion.

[2017-05-15 21:15] mstajdohar commented on #15
Interesting, we could make this even easier for the user: http://rseqc.sourceforge.net/#infer-experiment-py

[2017-05-16 07:26] JenkoB commented on #15
In my opinon Janez suggestions were more correct. As far as I understand
here you specify  the direction of features (exsones) that are mapped on
the read regarding the strand of the read and not only about the strand of
the read. To make it more clearly I also add description as Janez
suggested.

On Mon, May 15, 2017 at 11:15 PM, Miha Stajdohar <notifications@github.com>
wrote:

--

*Barbara Jenk

[2017-05-16 07:37] mstajdohar commented on #21
Reported in https://github.com/genialis/resolwe-bio/issues/266.

[2017-05-16 07:39] JenkoB commented on #15
To make myself more clear: the things would go wrong if you have reverse SE
reads and you wish to map features that are reverse (so stranded). If you
choose here forward is confusing, but would be correct, if you choose
reverse, you would map the features that are forward, so it would be wrong.

I think most of the users should choose here non-stranded to map all the
features, so we can set this a

[2017-05-16 07:50] mstajdohar commented on #15
This would make it even more clear:

Non-strand specific
Strand-specific forward
Strand-specific reverse

[2017-05-16 10:34] rafecooks commented on #15
Miha is right.

Question: do we need all three? Or are the Lexogen kits only for one or the other or a subset?

[2017-05-16 11:53] hadalin commented on #22
@rafecooks In the app it says _Terms of Service_, but here it's _Terms of user_. Which one should we use?

[2017-05-16 12:17] JenkoB commented on #15
I think we need all. For Lexogen this depends on the kit if it is FWD or
REV. It this schema for Lexogen or for general RNA Seq?

On Tue, May 16, 2017 at 12:34 PM, rafecooks <notifications@github.com>
wrote:

--

*Barbara Jenko*

*Bioinformatician*

<http://www.genialis.com/>

​

Genialis d.o.o., Trzaska cesta 315, 1000 Ljubljana, Slovenia

T: +386 59 054 580  |    E: barbara@genialis.com  |  W: w

[2017-05-16 12:18] rafecooks commented on #22
http://www.termsandconditionsesq.com/term-service-use-conditions/

There is no functional difference so let's pick one and we'll be consistent.

I prefer "Terms of Use." This means replacing "Terms of Service" and "Terms and Conditions" everywhere we see them.

@andr47p Please help us find each example where these show up and keep us consistent with **Terms of Use**

[2017-05-16 12:19] rafecooks commented on #15
General RNAseq. Lexogen is kit-specific

[2017-05-16 14:37] rafecooks opened #24 "Cannot see gene sets/ venn diagrams set as public"
Server: app
Community: rna-seq
User: (regular)

As Admin I created two gene sets and a venn diagram:

- (GS) edgeR_Upreg149
- (GS) DEseq_upreg60
- (Venn) DESeq-edgeR-Upreg-demo

Domen then made these public, so that any regular user on the app could see these data and play with them. But for some reason they do not show up.

@dblenkus Can describe more what he did in terms of permissions. He sugge

[2017-05-16 15:29] dblenkus commented on #24
`public_permission` field should be added to the [`BaseDocument` class](https://github.com/genialis/resolwe/blob/master/resolwe/elastic/indices.py#L58), populated at the end of the `process_object` function and  `filter_permissions` function in `ElasticSearchMixin` viewset should consider it.

[2017-05-16 19:07] mstajdohar commented on #24
Who work on the public permissions bug, @dblenkus or @kostko? Can you set a group permission as a workaround, would that work?

[2017-05-17 11:30] andr47p commented on #22
@rafecooks Help you find pages that contain those words?
As far as I can see only on:

As for the temporary placeholder in the menu: (highlighted version if you want it more prominent)
![tos](https://cloud.githubusercontent.com/assets/27995417/26151870/ee39fb40-3b04-11e7-85e1-fce553b31823.jpg)

[2017-05-17 11:43] JenkoB commented on #15
Right, I was a bit confused. I think this schema will not be anymore in
use, when Matjaž  will finish Demo for RNA-Seq (PR #270). He had created a
new workflow for RNA-Seq data, which is better than this one, so this
suggestions should be also used in his descriptor schema.
But in general I would have all three options, labeled as Miha suggested
and Non-strand specific as default option.

On Tue,

[2017-05-17 14:01] hadalin commented on #22
Maybe just `Terms of use` instead of `View Terms of Use`? @rafecooks

[2017-05-17 14:02] rafecooks commented on #22
Agreed. No need to include "View"

[2017-05-17 14:04] hadalin commented on #22
For future reference

It's easier for me to search where certain things show up in the app, because I can search through the code. Sometimes things are hidden because the app is configured in such a way and can't be accessed at all.

[2017-05-17 14:12] rafecooks commented on #22
thanks!

[2017-05-17 15:00] hadalin commented on #22
Is this ordering for signed in user ok or should `Sign out` be the last one?

![screen shot 2017-05-17 at 16 59 05](https://cloud.githubusercontent.com/assets/1746370/26160669/38428b72-3b22-11e7-9ca5-977417e3288f.png)

[2017-05-17 15:01] hadalin commented on #22
I'd rather put `Sing out` last.

[2017-05-17 15:07] hadalin commented on #22
Never mind, I already switched 😄

[2017-05-17 15:12] rafecooks commented on #22
Yeah, last is good. thanks

[2017-05-17 15:28] rafecooks opened #25 "Genus species names need to be consistent in spelling and capitalization"
Server: BCM
Config: rna-seq
User: any (Demo, Rachel)

The dropdown card for the recipes lists the available species with both Genus and Species name capitalized. E.g. Homo Sapiens.

This should be _**H**omo **s**apiens_

And true for all organisms, first word Cap, second word lower

![screen shot 2017-05-17 at 10 26 46 am](https://cloud.githubusercontent.com/assets/1234176/26162188/ae33880e-3aeb-1

[2017-05-17 15:30] rafecooks commented on #25
I am not sure whether this issue exists elsewhere. In general, we need to be 100% consistent with spelling and caps for the organism and source info

[2017-05-17 16:20] rafecooks opened #26 "Search results Organism did not update"
Server: BCM
Config: RNA-seq
User: Demo

I manually annotated all of the samples from the Collection `Rafe_demo` so that the Organism field would be correctly spelled "Homo Sapiens" rather than misspelled as "Home sapines".
![screen shot 2017-05-17 at 11 12 13 am](https://cloud.githubusercontent.com/assets/1234176/26164407/2e45399c-3af2-11e7-9377-fcd2cbb39c64.jpg)

However, when I search for these

[2017-05-17 16:35] rafecooks opened #27 "Heat map: Check hierarchal clustering output for correctness"
Server: BCM
Config: rna-seq
User: demo

I loaded the samples from Collection `Rafe_Demo` and navigated to Heat Map view. I selected the preloaded DE object as seen in the screen shot. Then I sorted rows by hierarchal clustering. The following image is the result. Maybe in fact this is a correct result, but to my eyes, the rows display some odd patchiness rather than grouping based on similarity...

[2017-05-17 16:40] rafecooks opened #28 "/Dicty/ configuration recipes not RNAseq"
Server: BCM
Config: dicty
User: Admin

The second bullet in the recipes card says "Upload RNA Seq reads", but this workflow does not use RNA-seq. It is a DNA-seq workflow. The bullet should say simply "Upload reads"
![screen shot 2017-05-17 at 11 37 44 am](https://cloud.githubusercontent.com/assets/1234176/26165437/958c47dc-3af5-11e7-945f-363150b42449.jpg)

[2017-05-17 16:41] rafecooks commented on #28
Also, I would change the title from "Chemical mutagenesis - Align Reads" to "Chemical mutagenesis variant detection"

I know this step only does the alignment, but the title is clunky as is

[2017-05-17 17:11] rafecooks opened #29 "Upload and Export action buttons not responsive in Bioinformatics Dashboard"
Server: BCM
Config: dicty
User: Admin

I cannot export selected files, nor upload new data, using the action buttons.
![screen shot 2017-05-17 at 12 10 10 pm](https://cloud.githubusercontent.com/assets/1234176/26166690/edda786a-3af9-11e7-9780-912190afd1a0.jpg)

[2017-05-17 17:11] rafecooks commented on #29
Nothing happens when I click the export button

[2017-05-17 18:02] mstajdohar commented on #15
cc @mzganec

[2017-05-17 18:20] mstajdohar commented on #22
Can you insert a horizontal line between Sign out and Terms of Use? I'd like to see how that looks like.

[2017-05-17 18:23] mstajdohar commented on #26
I think Rachel used wrong caps in her scripts. @jkokosar ?

[2017-05-17 18:24] mstajdohar commented on #26
Sorry, that is unrelated.

[2017-05-17 18:25] mstajdohar commented on #26
I guess this happens because the samples (or data or both) did not reindex when you've saved the updated annotations. This is a backend problem. @dblenkus, please investigate.

[2017-05-17 18:32] mstajdohar commented on #27
Try to export the page and see if you get the required data to validate the correctness. You can also zip the export and attach it to this bug report so I can have a look.

[2017-05-17 18:33] mstajdohar commented on #28
I think both titles can be configured to arbitrary text in configuration. @jvrakor please configure the UI. @jkokosar please advise.

[2017-05-17 18:39] mstajdohar commented on #29
@hadalin Please hide the Export and Import buttons in all tables, because they are not supported on the new platform.

[2017-05-17 19:18] rafecooks commented on #27
Downloaded data, attached.

On Wed, May 17, 2017 at 1:32 PM, Miha Stajdohar <notifications@github.com>
wrote:

--

*Rafael Rosengarten, PhD*

*President & Chief Product Officer*

[image: www.genialis.com] <http://www.genialis.com>

​

Genialis Inc., Houston, TX, USA

M: 843 991 3407  |  E: rafael@genialis.com  |  W: www.genialis.com

<http://www.genialis.com/>
<http://t.sidekickopen03.com/e1t/c/5/

[2017-05-17 19:18] rafecooks commented on #27
Downloaded data here:
[Expression Heat Map.zip](https://github.com/genialis/bug-reports/files/1008871/Expression.Heat.Map.zip)

[2017-05-17 19:39] mstajdohar commented on #27
Please provide a link to the error (create a bookmark).

[2017-05-17 19:45] rafecooks commented on #27
https://bcm.genialis.com/rna-seq/visual_analysis?_b=ed040889-b0e5-4a30-abe0-7c0eb19dcfac&_s=395cae48-333c-4e7f-9e86-e8deadbf3c98

Keep in mind, on BCM, so you'll need to VPN

[2017-05-17 19:46] rafecooks commented on #8
My bad. I was using it wrong, copying the browser URL rather than creating a bookmark...

[2017-05-17 19:46] #8 closed

[2017-05-17 20:28] mstajdohar commented on #27
This is how Orange would show the same data set. Attached also the data file that can be opened in Orange and a script that transforms the downloaded heat map values to Orange format.

<img width="797" alt="screen shot 2017-05-17 at 10 26 02 pm" src="https://cloud.githubusercontent.com/assets/1026716/26174540/0319f222-3b50-11e7-98b2-912161a6e1fc.png">

[data and code.zip](https://github.com/genial

[2017-05-17 20:39] mstajdohar commented on #27
@hadalin We should include gene symbols in the heat map data export. I am upset because I can't compare the heat maps. Must be even more frustrating for biologists...

[2017-05-18 07:04] andr47p commented on #22
![sign_out](https://cloud.githubusercontent.com/assets/27995417/26190213/84fef8f2-3ba8-11e7-9fdc-cfdfeecc18bd.png)

VS

![sign_out2](https://cloud.githubusercontent.com/assets/27995417/26190285/edc79b32-3ba8-11e7-9b8b-be04260c17ac.png)

[2017-05-18 07:43] jvrakor commented on #28
The issue is resolved. I also used title case in titles as that was inconsistent before. We can use sentence case if preferred.
![screenshot from 2017-05-18 09-41-39](https://cloud.githubusercontent.com/assets/26652775/26191504/6aa8ba82-3bae-11e7-8d10-34c732b599dc.png)

[2017-05-18 10:02] hadalin commented on #22
<img width="283" alt="screen shot 2017-05-18 at 12 01 53" src="https://cloud.githubusercontent.com/assets/1746370/26197239/cd2020ac-3bc1-11e7-8ecf-b2e21f353ee6.png">

[2017-05-18 10:04] hadalin commented on #22
Currently

<img width="317" alt="screen shot 2017-05-18 at 12 04 32" src="https://cloud.githubusercontent.com/assets/1746370/26197345/2ff8dab6-3bc2-11e7-9b40-1a9f4cd4371d.png">

[2017-05-18 10:05] hadalin commented on #22
Which one should I use?

[2017-05-18 10:12] mstajdohar commented on #22
@andr47p, @rafecooks what would you suggest?

[2017-05-18 10:12] rafecooks commented on #22
My favorite:

Sign Out
______
ToU
Privacy

where the line does not reach the edges of the box but rather indented a bit

[2017-05-18 10:13] rafecooks commented on #28
This is great. Thanks for catching the caps consistency. What you show in the screen shot is "Sentence case" which, in my opinion, is absolutely the correct choice.

[2017-05-18 10:50] andr47p commented on #22
Well I prefer "sign out" at the bottom (since I expect this option at the bottom and it's easier to quickly select the last as opposed to something in the middle), but really it's not problematic either way.

[2017-05-18 10:54] rafecooks commented on #22
On second thought, I've reviewed a bunch of different apps I'm signed in to, they all have it at the bottom. Let's go with Andraz's preference.

ToU
PP
-----
Signout

[2017-05-18 10:58] mstajdohar commented on #22
But they do not have the ToU/PP above the Sign out, right? They have them in the footer.

[2017-05-18 11:03] hadalin commented on #22
What about the menu for the unauthorized user?

<img width="248" alt="screen shot 2017-05-18 at 13 02 38" src="https://cloud.githubusercontent.com/assets/1746370/26199448/4fbd60f8-3bca-11e7-9e76-8db6d60f20db.png">

[2017-05-18 11:03] rafecooks commented on #22
Right. But we don't have a footer. Should we design and implement a footer? How long will that take? Should we put them in the drop down in the meantime?
![screen shot 2017-05-18 at 6 02 15 am](https://cloud.githubusercontent.com/assets/1234176/26199482/c161f86c-3b8f-11e7-8887-7b0ebfb0c249.jpg)

[2017-05-18 11:11] mstajdohar commented on #22
I have proposed to pot this in the user dropdown, because we do not have a footer. We will move the links to the footer when we add the footer, but let's not wait for that.

[2017-05-18 11:17] rafecooks commented on #22
Agreed. So for now, dropdown:

ToU
PP

----

Sign Out

Then footer in time.

[2017-05-18 11:30] hadalin commented on #22
It's inconsistent with https://github.com/genialis/bug-reports/issues/22#issuecomment-302372710

How about two dividers?

So now it's

<img width="265" alt="screen shot 2017-05-18 at 13 29 27" src="https://cloud.githubusercontent.com/assets/1746370/26200392/265e282e-3bce-11e7-8a9f-5ebb9636b5eb.png">
<img width="250" alt="screen shot 2017-05-18 at 13 29 44" src="https://cloud.githubusercontent.com/

[2017-05-18 11:32] dblenkus commented on #24
This should be fixed here: https://github.com/genialis/resolwe/pull/285

[2017-05-18 12:00] andr47p commented on #22
IMO:

(signed out menu)

[code]

(signed in menu)

[code]

This way we have "Sign in" -> "Edit Profile" in first position and "Sign Out" at bottom.

[2017-05-18 12:07] mstajdohar commented on #24
Awesome

[2017-05-18 14:01] mzganec commented on #15
Non-strand specific may be a misnomer. How about
**Strand non-specific (default)**
Strand-specific forward
Strand-specific reverse?

[2017-05-18 14:31] #24 closed

[2017-05-19 07:14] #12 closed

[2017-05-19 08:15] hadalin commented on #22
So what's the final verdict on this?

[2017-05-19 08:57] mstajdohar commented on #22
Follow @andr47p latest suggestion.

[2017-05-19 13:01] hadalin commented on #27
Opened the file and gene symbols are actually exported. They're under `geneName` column.

[2017-05-19 13:34] mstajdohar commented on #27
Sorry I missed that. Good job. I will prepare another screenshot with gene symbols.

[2017-05-22 19:40] rafecooks opened #30 "Genes missing names, IDs, symbols in Rachel's DE objects"
Server: BCM
Community: rna-seq
User: Rachel

I selected the collection `p4936_ms2_rna` and went to visualizations.

On DE View, I selected a SE object. Then drew a box around a bunch of genes in the volcano. The resulting popup shows many rows missing gene IDs.

![screen shot 2017-05-22 at 2 20 12 pm](https://cloud.githubusercontent.com/assets/1234176/26325399/5956d0a6-3efc-11e7-94ac-17765c6004db.

[2017-05-22 19:41] rafecooks commented on #30
@jkokosar @lukaw3d Please see if you can recreate this issue... any thoughts?

[2017-05-23 12:23] jkokosar commented on #30
@rafecooks First part of the issue is related to the incompleteness of the Gene KB. Should be resolved soon. The heatmap issue is most probably due to the spike-in normalization used for this dataset. Owner of the data should have some more insights.

[2017-05-23 18:49] rafecooks commented on #27
@mstajdohar I did the comparison manually between Orange and our heatmap. The clustering results are NOT the same. One question I have— does our platform run clustering on the raw or log2 values? Should be raw.

Either way, the ordering of the rows does not match Orange. Please troubleshoot further.
![image](https://cloud.githubusercontent.com/assets/1234176/26370820/9995a58a-3fbe-11e7-8e93-d0d4ed

[2017-05-23 19:54] mstajdohar commented on #27
Just a note. If the order of rows/columns does not match, it does not mean the clustering is wrong. We may use different distance or linkage function, or even sort the branches differently. We will investigate further.

The next step is to look at Orange's source code and compare the distance and linkage functions and the sorting of branches and leaves to our implementation.

[2017-05-23 19:54] mstajdohar commented on #27
cc @jkokosar

[2017-05-23 19:56] rafecooks commented on #27
I understand your point. The clustering could be different depending on lots of factors. I am just telling you, our results do not pass the smell test. Just look at it. In needs to make sense. So either we have to fix the implementation we have, or choose a different algorithm that produces more intuitive visual results.

[2017-05-24 06:42] #22 closed

[2017-05-24 07:07] #29 closed

[2017-05-30 07:51] mzganec opened #31 "Platform configuration not deducted correctly"
@kostko Configuration setting for `decriptorSchemaDefaults` is set to
`"descriptorSchemaDefaults": []`
instead of
[code]

[2017-05-30 09:33] mzganec opened #32 "DESeq2 never finishes with incorrect platform configuration"
@dblenkus If platform configuration contains
`  "descriptorSchemaDefaults": []`
instead of
[code]
DESeq2 process shows status in progress, 95% complete and never finishes. As an example see
[https://qa2.genialis.com/universe/bioinformatics/collection/matjaz-data/data/slug/differential-expression-case-vs-control-21?_b=](https://qa2.genialis.com/universe/bioinformatics/collection/matjaz-data/data/sl

[2017-05-30 11:18] mzganec commented on #25
Fixed and merged with master. Closing.

[2017-05-30 11:18] #25 closed

[2017-05-31 14:53] mzganec commented on #15
Fixed in [https://github.com/genialis/resolwe-bio/pull/280](https://github.com/genialis/resolwe-bio/pull/280) and merged with master. Closing.

[2017-05-31 14:53] #15 closed

[2017-06-01 06:21] mstajdohar commented on #20
@rafecooks Please close this issue when you include the suggested improvements into a PRD or a spec.

[2017-06-01 06:25] mstajdohar commented on #31
@kostko Where do we set configuration defaults? Please paste a link.

[2017-06-01 06:39] andr47p commented on #20
Hi, I agree with @mstajdohar that filter should be used.

* **default filter when you open the page** could be user's name (perhaps they can even set their own default filters - maybe by double clicking on the filter word/phrase could make it "permanent".

* **but only when multiple filters at once are available** (so the filter function is still usable for additional searches besides already by-u

[2017-06-01 07:02] kostko commented on #31
I don't understand this bug report, please provide further details. What does it mean that:

When is this set and by who?

[2017-06-01 07:03] kostko commented on #31
Which configuration defaults? Configuration defaults are only generated when you run `manage.py configuration_defaults` and this is only for `all-visible` and `all-hidden` flavors. All other configurations are not touched. Otherwise, configuration defaults themselves come from the defaults in the schema.

[2017-06-01 07:14] mstajdohar commented on #31
Well, we have
[code]
in all configurations default. Can we set this a default, so that we do not have to manually copy-paste it?

[2017-06-01 07:33] kostko commented on #31
You mean as a `default` in the configuration? The problem with current configuration is that these defaults are currently only used in two places:
* When you generate a new configuration using `manage.py configuration_defaults`.
* When you create a new configuration through the admin interface or edit an existing one.

They are however not applied automatically for existing configurations (and so

[2017-06-01 11:04] #20 closed

[2017-06-01 20:52] mstajdohar commented on #26
@dblenkus' update: Problem is that all web worker are using the same ES connection and are causing troubles to each other.

[2017-06-01 20:52] mstajdohar commented on #26
cc @kostko

[2017-06-01 22:30] rafecooks opened #33 "Hide sample basket in Search if no visualizations"
# Issue 2
Tool tip on Search icon on the left navigation bar should say `Search and View Results`
This should be changed globally so all configurations are consistent.

# Issue 3
The Swift use case does not have visualizations, but displays a sample basket. I am not sure what to do with the sample basket and the `add to sample basket` (+) icon on the Results table.

Option 1. Just leave it, becaus

[2017-06-02 00:41] #28 closed

[2017-06-02 00:42] rafecooks commented on #33
@mstajdohar

[2017-06-02 00:42] rafecooks opened #34 "GO Error on QA2 Lexogen"
QA2
Lexogen
Admin

[URL](https://qa2.genialis.com/lexogen/visual_analysis?_b=b09aeaca-716f-4bdd-8cf2-95eecfe14e25&_s=df47a493-d6e9-4a97-ada8-6af29510aa84)
![screen shot 2017-06-01 at 7 35 53 pm](https://cloud.githubusercontent.com/assets/1234176/26706375/80f855b8-4702-11e7-86ad-aef2075f675e.jpg)

[2017-06-02 01:14] rafecooks commented on #34
@mstajdohar

[2017-06-02 01:20] rafecooks opened #35 "Save Gene Set popup takes a very long time to resolve"
QA2
Lexogen
Admin

The Save Gene Set popup can take a very long time to go away. Sometimes so long (minutes) that the user must press `ESC` to get back to the main screen. I am not sure what causes the variability in the time the popup is present. Once clicking `save`, and the popup is taking a long time, I click `close` the gene set usually saves ok anyway and can be accessed elsewhere.
![screen

[2017-06-02 06:35] mstajdohar commented on #34
You do not have to tag me, I am subscribed to all new issues on all our repositories :)

[2017-06-02 06:36] mstajdohar commented on #35
@hadalin Please investigate.

[2017-06-02 07:05] hadalin commented on #35
I think this is a known issue. @lukaw3d can provide more insight.

[2017-06-02 09:16] mstajdohar commented on #33
* Issue 1: I have fixed the description text. The style bug report is already here: https://github.com/genialis/genialis-apps/issues/577
* I have refactored the second and third issue and assigned to @hadalin.

[2017-06-02 09:21] mstajdohar commented on #32
@dblenkus Status?

[2017-06-02 09:22] mstajdohar commented on #31
Could you at least make this a default so that we get it by default in new configurations. It is a common mistake that bioinformaticians forget to define the descriptorSchemaDefaults.

[2017-06-02 10:09] jkokosar commented on #30
@rafecooks DE objects have been recalculated. There is far less missing genes in the results now, and those that are missing need to be handled at the update to the KB level (e.g. ERCC spike-ins, gene symbols that map to multiple ncbi ids..). Should we close this issue and handle KB issues separately?

[2017-06-02 12:35] rafecooks commented on #30
Yeah, we can close the issue and deal with the multiple mappings later. Should we do this as a Github issue or Roadmap item? I prefer to handle it here. In which case, could you write and prioritize the issue how you see fit?

thanks

[2017-06-02 12:44] mstajdohar commented on #30
I would keep the issue, but do the multiple mappings later.

[2017-06-02 13:00] #21 closed

[2017-06-02 18:00] rafecooks opened #36 "Safari-specific spacing issue in GO module"
App
RNA-seq
Admin

The GO module has a spacing issue that is specific to Safari. Please note the `Apect` dropdown and  `N` column
Default resolution (Safari):
![screen shot 2017-06-02 at 12 57 17 pm](https://cloud.githubusercontent.com/assets/1234176/26738306/3be8a2a2-4793-11e7-85bf-d81cdb77eb27.jpg)

High resolution (Safari):
![screen shot 2017-06-02 at 12 57 17 pm](https://cloud.githubuserconten

[2017-06-02 18:23] rafecooks opened #37 "Gene Sets module, Heat Map View, too crunched"
App
RNAseq
Rafael+3 (or Admin)
[URL](https://app.genialis.com/rna-seq/visual_analysis?_b=d6d93580-d6e5-4e8c-bcb1-f8b69f20fbc2&_s=a1c704d1-8011-408a-930b-13064329fc43)

The Gene Sets Module on the Heatmap View is crunched to the point of being useless at default resolution:
![screen shot 2017-06-02 at 1 17 20 pm](https://cloud.githubusercontent.com/assets/1234176/26739039/fb826286-4795-11e7-9b2f-b8

[2017-06-02 19:30] rafecooks opened #38 "Safari export creates warning message and usability nightmare"
BCM
RNA-seq
Demo
(recreated on QA and app servers as well)

Chrome works fine.

On Safari, clicking `Export` leads to the following warning:
![screen shot 2017-06-02 at 1 08 21 pm](https://cloud.githubusercontent.com/assets/1234176/26741662/f02c21ba-479f-11e7-97c5-2d97afe7a710.jpg)

To resolve this, the user must open the Downloads directory, rename the file + extension, etc. Most users see the er

[2017-06-02 19:31] rafecooks commented on #38
Also, "cannot" is one word

[2017-06-02 19:52] rafecooks opened #39 "Bar plot spacing goes apeshit at default resolution in Safari"
BCM
rna-seq
demo
[URL](https://bcm.genialis.com/rna-seq/visual_analysis?_b=9de9b4d8-2230-4fe5-8cef-5c980ec9c0b2&_s=f54a2eb1-510d-4a1f-9163-498264803e25)

![screen shot 2017-06-02 at 2 46 49 pm](https://cloud.githubusercontent.com/assets/1234176/26742313/e50b6298-47a2-11e7-8b1c-c04860f4aeab.jpg)

APP
rna-seq
Rafael+3
[URL](https://app.genialis.com/rna-seq/visual_analysis?_b=f346a0a2-1953-429d-a7da-

[2017-06-02 21:20] lukaw3d commented on #38
Safari really isn't able to export files from javascript with a specified name, unlike all other browsers. Can someone check if it started working in Safari 10.1?

I think the only workaround is to not do it on the frontend:
- generate the zip file in javascript
- upload it to server
- download it from server

(a new endpoint that returns received data and adds the filename headers)

[2017-06-02 22:46] lukaw3d commented on #35
The problem is that saving a geneset actually means: running a process and waiting for it to finish

- starting a process can take a long time
   (@mstajdohar process persistence is set to RAW. I'm not sure if this something else would be better)
- reactive notification that it finished used to be slow (should be fixed since recently)

[2017-06-02 23:29] lukaw3d commented on #37
Another possible solution:
* Redistribute cards layout

[2017-06-03 21:54] rafecooks commented on #38
Ok, let's see Safari has evolved. If not, perhaps I work to improve the helper text and we add some orange to make it more visible.

[2017-06-03 21:54] rafecooks commented on #35
Can we close the popup before the process finishes?

[2017-06-04 08:12] hadalin commented on #35
Yes.

[2017-06-05 06:49] mstajdohar commented on #37
I would remove the type column for start.

[2017-06-05 06:57] mstajdohar commented on #38
@kostko Do you have more ideas how we could work around this?

[2017-06-05 07:04] mstajdohar commented on #35
But then we can't notify the user if something goes south. Or maybe we could with those temporary notifications at the top.

@tjanez, @kostko, @dblenkus We would really need a priority setting on processes. The persistence  is something different and I am hesitant to use TEMP in this case. The TEMP persistence is for data objects that are used for a short period of time and can be deleted (like th

[2017-06-05 07:08] hadalin commented on #35
That or adding a deterministic progress bar. Is it possible to add process progress to this process?

[2017-06-05 07:10] mstajdohar commented on #35
The process runs instantly when it starts, so the progress bar would jump from 0 to 100. The problem is it may wait in queue for quite some time.

[2017-06-05 09:38] lukaw3d commented on #35
The first time I made it, it worked like that. But it was perceived as a bug, because the new GeneSet did not appear in the genesets table. We could show all GeneSets there (processing, error, done) with a status icon.

[2017-06-05 09:48] mstajdohar commented on #35
I suggest to make the gene set high priority and leave the current functionality as is. @dblenkus When how soon can we support the priority setting?

[2017-06-05 10:50] mstajdohar commented on #33
Low priority.

[2017-06-05 10:54] hadalin commented on #33
Option 2 is not hard actually. You basically just check if visualizations are enabled (visible) in configuration and show/hide basket/add-to-basket-button.

[2017-06-05 10:57] mstajdohar commented on #37
Can we define a minimum width for the name column?

[2017-06-05 10:58] mstajdohar commented on #37
Crunch the number column if too wide and display the tooltip with all information about the number of expressed genes.

[2017-06-05 11:01] mstajdohar commented on #37
Get rid of the eye icon by making the names clickable. @andr47p Are you OK with this?

[2017-06-05 11:12] andr47p commented on #37
I'm not OK with this (removing "inspector" icon) because:
* inconsistent with (at least) results in search pages
* there is a) no visual cue the name is clickable and b) we already use "colored" text to display downloadable links so highlighting the name is not a good choice...

[2017-06-05 11:46] dblenkus commented on #35
Depends on the priority :) ... of the task

[2017-06-05 12:15] hadalin commented on #37
search page table doesn't have eye icon

search page table has colored clickable name

Or am I missing something?

[2017-06-05 12:19] kostko commented on #38
Are you sure it is not working on Safari 10.1? [Here](https://caniuse.com/#feat=download) it seems like it should support the `download` attribute?

[2017-06-05 12:30] lukaw3d commented on #38
@kostko Sorry; yes, it will work on Safari 10.1+ after a pullrequest

[2017-06-05 12:41] andr47p commented on #37
I was referring to this "search (& results)" page: https://drive.google.com/open?id=0B6WDEN-S9RbfN2JPUXByLWVxQzA

[2017-06-05 12:56] hadalin commented on #37
Me too, but following Rafe's instructions

![screen shot 2017-06-05 at 14 54 32](https://cloud.githubusercontent.com/assets/1746370/26784645/08e18c48-49ff-11e7-9e4a-ef1d37a124ee.png)

there's no eye icon and the name is clickable.

[2017-06-05 13:56] rafecooks opened #40 "Search and Results table not sorting on Sample name"
QA2
Lexogen
Admin

Clicking `Sample Name` triggers the spinny wheel but no change in sorting in the table
![screen shot 2017-06-05 at 8 55 01 am](https://cloud.githubusercontent.com/assets/1234176/26786615/d4dcb67a-49cc-11e7-972f-33ea3268aa44.jpg)
![screen shot 2017-06-05 at 8 54 52 am](https://cloud.githubusercontent.com/assets/1234176/26786614/d4d97b4a-49cc-11e7-9ccc-a6eda6d3f400.jpg)

[2017-06-05 15:21] rafecooks commented on #33
I have discussed with Miha. I would actually prefer to leave these features in place because Swift is eager for the Visualizations and this will give them the impression the Viz are coming. Whomever configures Swift after the re-deploy, please ensure the Viz icon is **present** in the navigation bar. We want to whet their appetites.

[2017-06-05 15:25] rafecooks commented on #33
Leave the basket and (+) icon for Swift. Visualizations coming soon. Also, on configuration after redeploy, please make sure Viz icon is present in navigation bar.

[2017-06-06 07:04] hadalin commented on #33
This is fixed.

[2017-06-06 07:04] hadalin commented on #33
If there's nothing else to do I propose we close this issue.

[2017-06-06 07:08] #33 closed

[2017-06-06 07:12] hadalin commented on #40
Hm

This are the two requests

Ordering by name - ascending:

https://qa2.genialis.com/api/_modules/search/sample?offset=0&limit=20&ordering=name&fields=id%2Cslug%2Cname%2Ccreated%2Cdescriptor%2Cdata__id%2Cdata__name%2Cdata__created%2Cdata__modified%2Cdata__process_name%2Cdata__process_progress%2Cdata__status%2Cdata__process_type%2Cdata__input%2Cdata__output&tags=community%3Alexogen&hydrate_data=1

[2017-06-06 09:09] kostko commented on #40
Could be an issue with the combined viewset, I'll look into it.

[2017-06-06 09:14] kostko commented on #40
Confirmed, the issue is with the combined viewset, the sort order is not respected. You mentioned that it works on your local machine, but it really shouldn't work (unless you forgot the `tags` filter in which case the ordering was done by the database instead of ES).

[2017-06-06 09:31] hadalin commented on #40
That's it, no tags filter.

[2017-06-06 09:37] kostko commented on #40
Should be fixed by genialis/resolwe#296, please test.

[2017-06-06 10:21] mstajdohar commented on #35
Right after permissions, please.

[2017-06-06 10:50] jkokosar opened #41 "Sample should inherit collection from a Data object"
To recreate, create a collection and upload reads. A sample is created (see annotations view), but is not added to the collection.

[2017-06-06 12:30] #40 closed

[2017-06-06 14:03] jkokosar opened #42 "Process error status is not correctly reported when process crashes"
Here is an example data object to demonstrate this issue:
https://qa2.genialis.com/universe/bioinformatics/collection/bugs-collection/data/slug/myexpression?_b=

Original error is due to the process not handling whitespace in the `exp_type` input field.

[code]

[2017-06-14 11:51] mstajdohar opened #43 "Fid download of data bundle"
In Search and Results, users can select samples and start the download.

The download feature takes a long time, especially if users select to download many large files like aligned reads. On the other hand users expect the download to start immediately.

* Refactor the download sample process (resolwe-bio) not to be interactive
* Update the UI. If the process is not finished in 10s, create a noti

[2017-06-14 11:53] mstajdohar commented on #43
I assume @kostko will start with this and @hadalin will finish the task. @dblenkus and @tjanez can help with implementation ideas and install scripts.

[2017-06-19 19:45] rafecooks opened #44 "Improved display of samples in Sample basket"
Samples should be listed in alphanumeric order within each "breadcrumb" (e.g. search history, collection name).

Show more samples per pagination page. Samples should occupy more vertical real estate, rather than being limited to a small number of samples. In the example below, I see no reason to cut off the list at 20
![screen shot 2017-06-19 at 2 42 53 pm](https://user-images.githubusercontent.c

[2017-06-21 15:37] rafecooks commented on #37
@hadalin In what stage of the review process are the fixes for this issue? Just curious.

[2017-06-21 18:24] hadalin commented on #37
Not in review, still in queue.

[2017-06-21 18:25] hadalin commented on #37
Queue as in still waiting for implementation.

[2017-06-22 00:24] mzganec commented on #27
Orange seems to be using Euclidean distance and average linkage (see [here](https://github.com/biolab/orange3/blob/master/Orange/widgets/visualize/owheatmap.py#L795), [here](https://github.com/biolab/orange3/blob/master/Orange/clustering/hierarchical.py#L120), and [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.cluster.hierarchy.linkage.html)). On the other hand, we use Spearman

[2017-06-22 02:30] rafecooks commented on #27
Perhaps @mstajdohar can engage Blaz to help solve this problem...

@mzganec The issue may not be with the algorithm we implement, but rather how we interpret and translate the proper row order to the visualization itself.

[2017-06-22 02:31] rafecooks commented on #37
ok, thanks

[2017-06-22 07:57] dblenkus commented on #27
Here are examples with different metrics from our platform:

Spearman:
![heatmap-genes-spearman](https://user-images.githubusercontent.com/5970282/27423187-152636fe-5731-11e7-87a8-e5f765206b8d.png)

Pearson:
![heatmap-genes-pearson](https://user-images.githubusercontent.com/5970282/27423201-1b95682a-5731-11e7-8bbf-eaca879b9375.png)

Euclidean:
![heatmap-genes-euclidean](https://user-images.githubu

[2017-06-22 09:12] dblenkus commented on #27
Here is the table for orange generated with Miha's script (renamed from .tsv to .txt to be able to upload it to github):

[table_orange.txt](https://github.com/genialis/bug-reports/files/1094212/table_orange.txt)

[2017-06-22 10:06] dblenkus commented on #27
And same set visualized in orange:
![orange_heatmap](https://user-images.githubusercontent.com/5970282/27428729-45317e64-5743-11e7-930a-87b77dfc615f.png)

[2017-06-22 10:24] rafecooks commented on #27
Euclidean definitely looks the best

[2017-06-22 10:24] rafecooks commented on #27
Euclidean definitely looks best

On Thu, Jun 22, 2017 at 5:06 AM, Domen Blenkuš <notifications@github.com>
wrote:

--

*Rafael Rosengarten, PhD*

*President & Chief Product Officer*

[image: www.genialis.com] <http://www.genialis.com>

​

Genialis Inc., Houston, TX, USA

M: 843 991 3407  |  E: rafael@genialis.com  |  W: www.genialis.com

<http://www.genialis.com/>
<http://t.sidekickopen03.com/e1t/

[2017-06-22 11:50] mzganec commented on #27
The two heat maps with Euclidean distance produced by Orange and our platform are equivalent. The visual representation on the heat map is arbitrary up to permutation of the branches or leaves in each (sub)cluster. Starting with the Orange heat map, genes PTTG1 and TGFBI (2nd and 3rd from the top) are in the same cluster based on the tree depicted on the left side of the figure. In the heat map by

[2017-06-22 12:26] rafecooks commented on #27
@mzganec @dblenkus
Can you guys propose a path to a solution? What are the steps we need to take to resolve this issue?

[2017-06-22 13:00] rafecooks opened #45 "Sample Clustering modules sometimes render and sometimes don't"
As seen in today's Jam Session:

Server: app
Community: rna-seq
User: Admin
Dataset: Search for “159”, select all 20 samples

Sample Comparison View, [URL](https://app.genialis.com/rna-seq/visual_analysis?_b=1bd8db84-18e8-4fb3-a8da-669e9b71b854&_s=7f5e9ef5-a355-444d-b4fe-0c0871d9089c)

- PCA loaded in 5 seconds; after 30 seconds with no HC, I refreshed the page.
- HC loaded immediately but no PCA

[2017-06-22 13:11] dblenkus commented on #27
I think that we should discuss:

 * what is the correct solution
 * what is considered to be the correct solution (by general audience)
 * how to present the correct solution to really look correct :)

Maybe you can organise a meeting to discuss that and also invite @mstajdohar and maybe @tjanez?

[2017-06-22 14:32] rafecooks commented on #27
Good idea

On Thu, Jun 22, 2017 at 8:11 AM, Domen Blenkuš <notifications@github.com>
wrote:

--

*Rafael Rosengarten, PhD*

*President & Chief Product Officer*

[image: www.genialis.com] <http://www.genialis.com>

​

Genialis Inc., Houston, TX, USA

M: 843 991 3407  |  E: rafael@genialis.com  |  W: www.genialis.com

<http://www.genialis.com/>
<http://t.sidekickopen03.com/e1t/c/5/f18dQhb0S7lC8dDMPb

[2017-06-23 07:40] hadalin commented on #37
@rafecooks https://github.com/genialis/genialis-apps/pull/619#issuecomment-310595394

[2017-06-26 11:35] mstajdohar commented on #45
@kostko, @dblenkus, @lukaw3d It seams that sometimes we do not get the response at all. For example, you can wait forever with a spinning progress wheel in the HC module. After the refresh however, the results load instantly. Ideas?

[2017-06-26 11:37] kostko commented on #45
Can this be reproduced also on latest qa2 deploy?

[2017-06-28 10:44] #37 closed

[2017-06-28 12:52] rafecooks opened #46 "Recipe parameter ranges allow incoherent values"
Tester: Nejc
Date: 2017-06-28
Community: rna-seq
Login ID: nejko
Server: app.genialis.com
Browser: Chrome on Mac

Nejc writes:

Likewise, you can set negative numbers for minimum read length.

![screen shot 2017-06-28 at 7 50 04 am](https://user-images.githubusercontent.com/1234176/27637805-9a873c0e-5bd6-11e7-929e-6052c77bb852.jpg)

We really need to have a way of setting an acceptable range and t

[2017-06-28 15:20] rafecooks opened #47 "Resize box and bar plot according to designer specs"
The spacing and formatting of the box and bar plots looks silly. Please amend accordingly

@lukaw3d Please see attached image
@mstajdohar Please comment on prioritization and timeline

Direct all questions to @andr47p

![fix_plot](https://user-images.githubusercontent.com/1234176/27645124-fe24e9be-5bea-11e7-9d5b-de26e8c3da0c.jpg)

[2017-06-28 15:45] rafecooks commented on #45
Seems fixed. Will close until we hit further errors

[2017-06-28 15:45] #45 closed

[2017-06-28 16:06] rafecooks opened #48 "Typo in Sample Analysis History"
`Statistic "trimmomotic" single` --> Statistic trimmomatic single

[2017-06-28 18:01] rafecooks opened #49 "Command Output link throws error"
Server: App
Community: RNA-seq
User: non-admin
Mac/Chrome

[URL](https://app.genialis.com/rna-seq/search/import-sra-srr1661340?_b=&_s=c8b8244e-1874-44c4-b118-f969f1b6d8fc)

On Primary Analysis History card > SRA Import section > Clicking `Command Output` > Error

![screen shot 2017-06-28 at 12 58 27 pm](https://user-images.githubusercontent.com/1234176/27652535-c56d1fd0-5c01-11e7-9f09-abbc22894967

[2017-06-28 18:09] rafecooks opened #50 "Select all check box remains selected"
App
rna-seq
non-admin
mac/chrome

URL (https://app.genialis.com/rna-seq/search?_b=bd58cae6-72d9-4b9b-adf8-b4ce0076633d&_s=6dd7cb98-3463-4f33-ac6f-9a57c7a9b150)

When I check the `select all` box in the Search Results table, then click `+` to add samples to basket, the check box remains checked and blue.

Preferred behavior is for box to clear, just as individual rows clear.
![screen shot 2017-06-2

[2017-06-28 19:49] rafecooks commented on #13
@lukaw3d

On the UI:
If a gene is either missing, OR has an expression value = 0, I want the box plot to save a space for that gene and to put the gene label on the x-axis, and to display a warning on the module that says “One or more genes could not be displayed due to missing or zero expression values.”

This is a band-aid fix until we can, in the words of Trump, "figure out what's going on"

[2017-06-28 20:04] mstajdohar commented on #13
@jkokosar Can you validate this: if a gene is missing that this is indeed because it is not present in the annotation version used for the analysis? This is not an easy question, so take some time. To answer, you will have to check all pipelines that produce expressions and the endpoint query.

[2017-06-28 20:22] rafecooks commented on #13
@jkokosar here is an [example](https://app.genialis.com/rna-seq/visual_analysis?_b=54b7f5a5-4b4c-4dd8-ab2c-260e13f81833&_s=6b1cc2e7-9544-4d33-9de5-3b3ee31868de) provided by Luka A... maybe a good place to start

Gene `CYTIP` is missing from box plot

[2017-06-28 20:24] rafecooks commented on #13
Wait, I think we can reject Miha's hypothesis because the genes missing in Box Plot often have values in some samples but not all. They they are shown in bar plot. Therefore it should not be an annotation problem but something to do with quantification. See LukaA's example linked above.

[2017-06-29 01:26] rafecooks opened #51 "Visualizations remain active and interactive *_even after_* removing samples from basket"
Tester: Nejc
Date: 2017-06-28
Community: rna-seq
Login ID: nejko
Server: app.genialis.com
Browser: Chrome on Mac

**Description**
If I am in the visualization page and I delete my samples from the sample basket, I can still see the visualizations, probably shouldn’t see them. Not only I can see them, I can still play with them (e.g. change the Distance Measure). So I still work with the same sampl

[2017-06-29 01:29] rafecooks opened #52 "Latency in revealing sample names in sample basket"
Tester: Nejc
Date: 2017-06-28
Community: rna-seq
Login ID: nejko
Server: app.genialis.com
Browser: Chrome on Mac

**Description**
There is sometimes quite a delay when adding samples to your sample basket. For example, I just tried (the tutorial instructions for SUM149), and it took it at least 5 seconds. In the meantime, nothing is happening, so I am not sure what is going on. Is the system addin

[2017-06-29 01:41] rafecooks opened #53 "Inconsistent toggle logic on PCA plot"
Tester: Nejc
Date: 2017-06-28
Community: rna-seq
Login ID: nejko
Server: app.genialis.com
Browser: Chrome on Mac

Let’s say I decide not to include all genes in the PCA plot, like this:
![screen shot 2017-06-28 at 8 38 51 pm](https://user-images.githubusercontent.com/1234176/27667655-e0b5e6ce-5c41-11e7-857a-e4821ed50fe2.jpg)

All good. Now what if I decide to `Show Labels`. Not OK anymore, loads t

[2017-06-29 02:25] rafecooks opened #54 "In Nejc's browser, comma rather than decimal separator"
Tester: Nejc
Date: 2017-06-28
Community: rna-seq
Login ID: nejko
Server: app.genialis.com
Browser: Chrome on Mac

In the `differential expression details` popup, the values in the FDR Threshold field use comma, not dot as a decimal separator. Same for log2(FC) Threshold field.

Rafe cannot recreate. We think this is a European-aware browser somehow.

Can anyone else recreate on their computers? Is

[2017-06-29 02:36] rafecooks opened #55 "DE Details popup not responding to Saved Changes"
Tester: Rafe
Date: 2017-06-28
Community: rna-seq
Login ID: rafecooks+1
Server: app.genialis.com
Browser: Chrome on Mac

I was trying to figure out some comment by Nejc. He may have had the same problem.

WIthin the **DE Details popup**, when changing the `log2FC` or `FDR` thresholds, I click `Save Changes`
![screen shot 2017-06-28 at 9 33 24 pm](https://user-images.githubusercontent.com/1234176/27

[2017-06-29 03:33] rafecooks opened #56 "Account Settings does not save all fields"
Tester: Nejc
Date: 2017-06-28
Community: rna-seq
Login ID: nejko
Server: app.genialis.com
Browser: Chrome on Mac

Nejc: If I go into Edit Profile and try to edit my Location, it is not permanently saved, after I change it. So if I then refresh the page, the Location field is empty again.

Rafe recreated this.
First, enter location and save:
![screen shot 2017-06-28 at 10 32 17 pm](https://user-ima

[2017-06-29 07:13] mstajdohar commented on #48
@jkokosar Is this a typo in the process?

[2017-06-29 07:14] mstajdohar commented on #48
@rafecooks Please pate a link.

[2017-06-29 07:25] dblenkus commented on #48
https://github.com/genialis/resolwe-bio/search?utf8=%E2%9C%93&q=Statistic+trimmomotic+single&type=

[2017-06-29 09:59] mstajdohar commented on #54
Need more discussion before we change this. Operating system define what operators are used in what context depending on the locale. For example, my locale is Slovene and I see a coma for the decimal separator. In all apps like Excel show comas, not dots. If I paste a value to Excel, coma will be detected as a decimal separator, not dot.

In general people are used to seeing the operator that is d

[2017-06-29 10:54] rafecooks commented on #54
One problem, however, is Nejc **only** sees the comma separator in the FDR field that his is allowed to change. In the table below, where the precomputed values are listed, the separator is a dot... so there's an inherent visual inconsistency.

[2017-06-29 11:05] mstajdohar commented on #54
OK, then let's hardcode the dot here too. We can consider supporting personalized locale at some point in the future.

[2017-06-29 12:49] jvrakor commented on #48
https://github.com/genialis/resolwe-bio/pull/302/files

[2017-06-29 13:49] rafecooks opened #57 "Remove "Load Gene Set From File" option from Genes menu"
### Issue 1
**Description**
From the Genes module menu, users are presented with various options:
![screen shot 2017-06-29 at 8 45 22 am](https://user-images.githubusercontent.com/1234176/27690626-7afa2e42-5ca7-11e7-8755-4bb77394aece.jpg)

The problem is, `Load Gene Set From File` requires users to upload a file with no instruction as to the contents or format of that file. More often than not, th

[2017-06-30 13:34] mstajdohar commented on #27
We have discussed various distance functions, optimal list ordering and log2 transformations. Here is a summary of actions we should do next:

1) Define the linkage and distance function in configuration. We could make this general, so we could define some default inputs for the clustering. We need two settings, one for rows sorting and the other for column sorting. @hadalin

2) Implement the opti

[2017-06-30 13:37] mstajdohar commented on #27
[Jiang et al. 2004](http://ieeexplore.ieee.org/abstract/document/1339264/?reload=true) They claim that the Spearman correlation-based distance function is not appropriate because it looses too much information (because it only considers ranks). Also, they have showed that the Pearson correlation-based distance function yields equivalent clustering results as euclidean distance on normalized values

[2017-07-04 13:32] hadalin commented on #27
@mstajdohar

We could make it arbitrary, but it's less safe. You can define enum with specific values: `pearson`, etc. and the user will be forced to use one of the predefined ones, whereas with general input you can specify whatever you want.

Which strategy would you go for?

[2017-07-04 13:34] mstajdohar commented on #27
This is configured by our bioinformaticians, so robustness is not my primary concern. I would like to have this generic until we find the best approach, so that we can play with different settings. When we find a good (hopefully universal) solution, we can implement a solution with predefined values.

[2017-07-04 13:44] hadalin commented on #27
Just looked at the source code. Input parameters: `exps`, `genes`, `genes_source`and `log2` can't be configured, because they are dynamic (prepared on-the-fly based on the state), so `distance` and `linkage` are the only ones "hardcoded".

[2017-07-05 08:00] hadalin commented on #27
No 1 and No 3 tasks from https://github.com/genialis/bug-reports/issues/27#issuecomment-312268565 are implemented in https://github.com/genialis/genialis-apps/pull/643.

[2017-07-05 08:02] hadalin commented on #27
Someone from @everyone is scratching their head why were they referenced 😄